* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

header {
    width: 100%;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 80%;
}

.produtos {
    width: 65%;
}

.produto {
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.produto img {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-bottom: 10px;
}

.produto h3 {
    font-size: 1.5rem;
}

.produto p {
    font-size: 1.2rem;
    margin: 10px 0;
}

button.adicionar-carrinho {
    padding: 10px 20px;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.adicionar-carrinho:hover {
    background-color: #219150;
}

.carrinho {
    width: 30%;
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: fit-content;
}

.carrinho h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

#lista-carrinho {
    list-style: none;
    margin-bottom: 15px;
}

#lista-carrinho li {
    margin-bottom: 10px;
}

#finalizar-compra {
    padding: 10px 20px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#finalizar-compra:hover {
    background-color: #1c598a;
}

footer {
    width: 100%;
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
    position:fixed;
    bottom: 0;
}
